:host {
    display: flex;
    flex-direction: column;
    gap: 5px;
    border: 1px solid gray;
    padding: 5px;
    border-radius: 8px;
}

:host .option {
    border: 1px solid gray;
    padding: 4px;
    cursor: pointer;
    border-radius: 8px;
}

:host .option:hover {
    background-color: lightgray;
}

:host .option.selected {
    background-color: lightgreen;
}
